# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic data
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
node_modules
dist
dist-ssr
*.local

# Environment & Secrets
.env
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db
